.cardPointerEffect {
    background: radial-gradient(white, transparent 70%, transparent);
    mix-blend-mode: lighten;
}

.card {
    animation: cardAppear ease-in-out 150ms;
}

@keyframes cardAppear {
    from {
        scale: 0;
    }

    to {
        scale: 100%;
    }
}
