.cardPointerEffect {
    background: radial-gradient(white, transparent 70%, transparent);
    mix-blend-mode: lighten;
}

/* card-appearing animation */

@keyframes cardAppear {
    from {
        scale: 0;
    }

    to {
        scale: 100%;
    }
}

.card {
    animation: cardAppear ease-in-out 150ms;
}

/* fade-in animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.fadePrimary {
    opacity: 0;

    animation: fadeIn ease-out 500ms 100ms forwards;
}

.fadeSecondary {
    opacity: 0;

    animation: fadeIn ease-out 500ms 600ms forwards;
}

/* controls tables */
.controls tr > td:nth-child(1) {
    padding-right: 0.5rem;
}

.controls tr > td:nth-child(2) {
    padding-left: 0.5rem;
}
